<a href="https://colab.research.google.com/github/omniaghazy/learn_python/blob/main/Copy_of_Part_1_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


<a href="https://www.zero-grad.com/">
         <img alt="Zero Grad" src="https://lh3.googleusercontent.com/oEMY-qk_B2HW_Fponz1a3u1fLfo3NpO0VFjQKnVW8fH0v93NAWala5Kgp0nN2ubiyZdEMpwhv3Ynv7bXsB0RZ28YfEd_ZlRum75OHEu0-z7XwHfcD3sin7_SORLzg1gz52MsxD3b1WbxQWX1RdR4HP3jpbJTOuCiddl92UBcQH_x-Llx7_XuZuwb9ekN9vYnKsw6U1yL2df4IVrJEDySttzab9qlHvMO7sSekgS64jPVAmATjqXqlvrwM026dhrad-7nX-hfr2uKlUGPuo9xKzVo4EhbUP1-pKBQNPNHO6P0KcReg3NxbtKmWXRyg9LPX0xO-wwXWt9GhCcPXFV_BoY5eQXabCjR3mlr9SO01VgWplas-XF4337_JOm-bVkiaQjQca_N4Gg0hy26TvIGRnHEMIPSgudYPqhMnatoN4xAC715rP82r1svC0_qadXMZHu6D40YqWnY9ZE-iujr2p1_CetxmG-uY94UATy7o-SnxuPchG4QfZkiUgRMr8xNg86bQMuBxbCS_lOyVMwfqwbt2IunlDcZ8yyN_3SJFzFHuFOOjQolgGQrytI0mP1oTwba7je0RtBtCuTck1UCMMsZvMnJhCtWgMmuLoYTkSCzxMXbz0T3L2AClDouA_3dwM7z1gdm8Gq4v06T1KWFUs1adGNH5fuj-pUHEfW4drzzXgolPH5SehqhaNsqdMttCPUzNPIIEjwfULyQi7nlP-w-qydK82mdhdmjQhrprfoGtsPckJkI1Tur60uZI7nLkES5cE3tQrGualSNArRkkU8KN4tStZ0CkmqZNkAlMbfAJSYBD7tDxhGSg922AdLevSLJMTUyg6KuHoY30r7zH1Z8fE0R8aFZL2LJl54OU_tkXEdlFlSnZTOdB-PVTj-yagpt99SetLnQIX5SS_Vxc0BNPKjUZG0oEHYbIxkbZN1O7Rg78xe-thytngS0byfuaeP2X4NYjg29FIffnn72bAUs9Ii0N2mOpABLg1uQMN4MyAa1Mbd_=w1300-h200-no?authuser=1" >
      </a>

# **Exercise 1:**

Write a program to accept two numbers from the user and print:
Summation, Subtraction, multiplication and division

In [1]:
number1 , number2 ,*noise = input("Enter two numbers : ").split(",")

number1= int(number1)
number2= int(number2)
Summation= number1 + number2
Subtraction= number1 - number2
multiplication= number1 * number2
division= number1 / number2

print(f"{Summation}= {number1} + {number2}")
print(f"{Subtraction}= {number1} - {number2}")
print(f"{multiplication}= {number1} * {number2}")
print(f"{division}= {number1} / {number2}")

Enter two numbers : 34 , 67
101= 34 + 67
-33= 34 - 67
2278= 34 * 67
0.5074626865671642= 34 / 67

# **Exercise 2:**

Write a program to accept three numbers from the user and print:
Min. Number and Max. Number

In [2]:
number1 , number2 , number3 ,*noise = input("Enter 3 numbers (sep = ,) :").split(",")
number1=int(number1)
number2=int(number2)
number3=int(number3)
mini=min(number1, number2 , number3)
maxi=max(number1, number2 , number3)
print(f"MAX Number = {maxi}")
print(f"Min Number = {mini}")

Enter 3 numbers (sep = ,) :34,45,67
MAX Number = 67
Min Number = 34

# **Exercise 3:**

Write a program to accept Name, age and salary from the user and print like this:

> `My name is Ali.I am 30 years old. My salary is 1155.5$`

In [3]:
name , age , salary = input("Enter Name, age and salary :").split()
print(f"My name is {name}.I am {age} years old. My salary is {salary} $")

Enter Name, age and salary :omnia 33 3454
My name is omnia.I am 33 years old. My salary is 3454 $

# **Exercise 4:**

Write a program to accept temperature in Faherenheit and print it in Celsius.
> C = (F - 32) * 5/9

In [4]:
F = int(input("Enter temperature in Faherenheit :"))
C = (F - 32) * 5/9
print(f"{F} F = {C} C")

Enter temperature in Faherenheit :34
34 F = 1.1111111111111112 C

# **Exercise 5:**

Write a program to chek if a word is palindrome (read from right as read from left, as "eye", "radar" and "madam").
> Print `True` or `False`

In [5]:
word=input("enter tho worf to chek if a word is palindrome or not")
reverse = word[::-1]
print(word==reverse)

enter tho worf to chek if a word is palindrome or noteye
True

# **Exercise 6:**

Write a program to remove the "apple" item from your basket

> `basket = {'Orange' : 10, 'Banana': 15, 'apple' : 20}`

In [6]:
basket = {'Orange' : 10, 'Banana': 15, 'apple' : 20}
del basket['apple']
print(basket)

{'Orange': 10, 'Banana': 15}

# **Exercise 7:**

Write a program to return a new set of identical items from two sets

> * `Input : s1= {1,3,5,7,2,6,8},  s2 = {5,8,11,14,1}`
* `Output : {1, 5, 8}`

In [7]:
s1= {1,3,5,7,2,6,8}
s2 = {5,8,11,14,1}

print(s2.intersection(s1))

{8, 1, 5}

# **Exercise 8:**

Write a program to return a new set of Unique items from two sets

> * `Input : s1= {1,3,5,7,2,6,8},  s2 = {5,8,11,14,1}`
* `Output : {1, 2, 3, 5, 6, 7, 8, 11, 14}`

In [8]:
s1= {1,3,5,7,2,6,8}
s2 = {5,8,11,14,1}

print(s2.union(s1))

{1, 2, 3, 5, 6, 7, 8, 11, 14}

# **Exercise 9:**

Write a program to Grab "hello"

`d = {'k1':[{'nest_key':['this is deep',['hello']]}]}`

In [9]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

print(d["k1"][0]['nest_key'][1][0])

hello

# **Exercise 10:**

Write a program to return a list of unique values of a list
> * `Input   :[1,2,3,1,2,3,4,5,6,4,5,6]`
* `Output  : [1,2,3,4,5,6]`

In [10]:
input = [1,2,3,1,2,3,4,5,6,4,5,6]
output=list(set(input))
print(output)

[1, 2, 3, 4, 5, 6]

# **Exercise 11:**

Modify the code below

In [15]:
# books = {
#     "Life of Pi": "Adventure Fiction",
#     "The Three Musketeers": "Historical Adventure",
#     "Watchmen": "Comics",
#     "Bird Box": "Horror",
#     "Harry Potter":"Fantasy Fiction",
#     "Good Omens": "Comedy"
# }

# # book ="Good Omens"
# book ,*rest = input("Enter Book Name :").split()

# print(books.get(book ,"Not Found"))
# #change this part to use the .get() method
# # if(book in books):
# #     print(books[book])
# # else:
# #     print("Not Found")

# **Exercise 12:**

Write a program to calculate the Euclidean Distance between two points

![](https://miro.medium.com/max/277/1*IVy5Ozk6e3sQtG_wuKo19A.jpeg)

In [16]:
p1 = (1,2)
p2 = (3,4)
distance = ((p1[0]-p2[0])**2 + (p1[1]-p2[1])**2)**0.5
print(distance)

#calculate distance

2.8284271247461903

# **Exercise 13:**

Write a program to calculate how many sentances and words in the following paragraph

In [17]:
paragraph = '''Hello Friends. This is a light exercise. Enjoy!'''
words =len(paragraph.split())
Sentences = len(paragraph.split("."))
print(f"No. of words = {words}")
print(f"No. of Sentences = {Sentences}")


# calculate No. of Sentences & No. of words

No. of words = 8
No. of Sentences = 3