<a href="https://colab.research.google.com/github/omniaghazy/learn_python/blob/main/PYTHON(part1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

print("simple arithmatic")

print(2+1)         #3
print(2**3)       #8
print(2*2)     #4
print(11/2)   #5.5
print(11//2)  #5
print(11%2)   #.5=5


print("Numeric function")
print(max(1,23,45,67))   #67
print(min(34,56,78,9))   #9
print(abs(-23))    #23
print(sum({1,2,3,4,5,5}))  #15         بتحذف المكرر من الارقام فالعملية {}
print(sum([1,2,3,4,5,5]))  #20   بتاخدكل الارقام اللي جواها حتي لو مكرره[]


print("Data Types")
print(type(12))           #<class 'int'>
print(type(0))           #<class 'int'>
print(type(.0))           #<class 'float'>
print(type('a'))           #<class 'str'>
print(type("omnia"))           #<class 'str'>
print(type(True))           #<class 'bool'>
print(type(False))           #<class 'bool'>
print(type(1+2j))          #<class 'complex'>
print(type(""))           #<class 'str'>
print(type((1,2,3)))      #<class 'tuple'>
print(type([1,2,3]))      #<class 'list'>
print(type({1,2,3}))       #<class 'set'>
print(type({"q": "we"}))   #<class 'dict'>



print("Data conversion")
print(float(5))    #5.0
print(int(.9))    #0
print(int("345"))   #345
print(str(45))    #45




print("Bool Logic operator")

"""  and     or  not  """
print(3>2 and 2>1)    #True
print(3>2 or 2<1)     #True
print(not (5> 8))     #True




print("Assignment")
pi= 3.14
radius= 7
area= pi*(radius**2)
print(area)

print("String")
text ="i love python"
text1= text.upper()   # I LOVE PYTHON
print(text1)
text1= text.lower()   #  i love python
print(text1)
text1= text.capitalize()   #  I love python
print(text1)
text1= text.endswith("python")   #  True
print(text1)

print("string input")
inputmessage = input("input any message")


print("String multiplication")
print(inputmessage * 5)




print("escape")
print("i can\'t do anything")      #i can't do anything
print("i can\'t do anything  \n ana sater geded")      #i can't do anything
#                                                          ana sater geded
print("\t i can\'t do anything")    #tap...



print("String concatenation")
print("i " + " am " + " sad")

simple arithmatic
3
8
4
5.5
5
1
Numeric function
67
9
23
15
20
Data Types
<class 'int'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'complex'>
<class 'str'>
<class 'tuple'>
<class 'list'>
<class 'set'>
<class 'dict'>
Data conversion
5.0
0
345
45
Bool Logic operator
True
True
True
Assignment
153.86
String
I LOVE PYTHON
i love python
I love python
True
string input
input any messageomnia
String multiplication
omniaomniaomniaomniaomnia
escape
i can't do anything
i can't do anything
 ana sater geded
	 i can't do anything
String concatenation
i  am  sad

In [2]:
text="ABCDE"
text[:]

'ABCDE'

In [5]:
text="ABCDE"
print(text[0::2])
print(text[:-1:2])
print(text[0:4])

ACE
AC
ABCD

In [6]:
text[-1]

'E'

In [8]:
text[::-1]             #mirror

'EDCBA'

In [12]:
# string ======> list
text = " Hello, I am Omnia"
tolist = text.split()   #=.split("sep='نكتبها هنا' ")
tolist

['Hello,', 'I', 'am', 'Omnia']

In [13]:
#print formating
name ="Salah"
age = 60

print("Name= {} , Age ={}".format(name,age))
print(f"Name= {name} , Age = {age}")

Name= Salah , Age =60
Name= Salah , Age = 60

list

In [23]:
numbers=[0,1,2,3,4,5]

In [24]:
numbers + [5]

[0, 1, 2, 3, 4, 5, 5]

In [26]:
# list == string
listDUplicate = numbers * 2
listDUplicate

[0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5]

In [27]:
len(numbers)

6

In [44]:
numbers.append(45)
print(numbers)   #[0, 1, 2, 3, 4, 5, 45]

numbers.sort()
print(numbers)   #[0, 1, 2, 3, 4, 5, 45, 45]

numbers.reverse()
print(numbers)   #[45, 45, 5, 4, 3, 2, 1, 0]

print(numbers.count(4))  #1

numbers.remove(45)     #remove(value)
print(numbers)   #[45, 5, 4, 3, 2, 1, 0]

numbers.extend([45,56,78])
print(numbers)   #[45, 5, 4, 3, 2, 1, 0, 45, 56, 78]

numbers.pop()     #pop(index)
print(numbers)   #[45, 5, 4, 3, 2, 1, 0, 45, 56]

numbers.insert(2,55)
print(numbers)   #[45, 5, 55, 4, 3, 2, 1, 0, 45, 56]

numbers.pop(0)
print(numbers)   #[5, 55, 4, 3, 2, 1, 0, 45, 56]


del numbers[0]
print(numbers)   #[55, 4, 3, 2, 1, 0, 45, 56]

print(numbers.index(55))  #0   index(value)==> int index

[55, 56, 56, 55, 55, 45, 45, 45, 45, 45, 45, 45, 45, 45, 5, 4, 3, 2, 1, 0, 45, 56, 45]
[0, 1, 2, 3, 4, 5, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 55, 55, 55, 56, 56, 56]
[56, 56, 56, 55, 55, 55, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 5, 4, 3, 2, 1, 0]
1
[56, 56, 56, 55, 55, 55, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 5, 4, 3, 2, 1, 0]
[56, 56, 56, 55, 55, 55, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 5, 4, 3, 2, 1, 0, 45, 56, 78]
[56, 56, 56, 55, 55, 55, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 5, 4, 3, 2, 1, 0, 45, 56]
[56, 56, 55, 56, 55, 55, 55, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 5, 4, 3, 2, 1, 0, 45, 56]
[56, 55, 56, 55, 55, 55, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 5, 4, 3, 2, 1, 0, 45, 56]
[55, 56, 55, 55, 55, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 5, 4, 3, 2, 1, 0, 45, 56]
0

In [46]:
#string split into list form
text = " Hello, I am Omnia"
tolist = text.split()   #=.split("sep='نكتبها هنا' ")
tolist

['Hello,', 'I', 'am', 'Omnia']

In [47]:
# for each character in string to be element in list
text = " Hello, I am Omnia"
tolist = list(text)
tolist

[' ',
 'H',
 'e',
 'l',
 'l',
 'o',
 ',',
 ' ',
 'I',
 ' ',
 'a',
 'm',
 ' ',
 'O',
 'm',
 'n',
 'i',
 'a']

In [50]:
alph="ABCD"
tolist = list(alph)
tolist

['A', 'B', 'C', 'D']

In [51]:
# list to string
"".join(tolist)    # concatenation elements in list

'ABCD'

## Aliasing or Cloning

**aliasing**

كانها nickname  ولكن بتشاوي علي نفس المكان ف الميموري اللي محتفظ بنفس الحاجة ولكين امنيه او منه الاتنين بيخصوا نفس الشخص فلو مثلاا قولت منه بقيت مهندسه يبقي بالطبيعي امنيه كمان بقي مهندسه
ده بيتم بال  assignment


**cloning :**
هتعمل duplicate  عشان تشتغل علي واحده والتانيه تفضل علي حالها ملهاش دعوه بالشغل بتاعك ده
index or copy

In [55]:
original = [2,4,6,8]
new = original.copy()    #cloning
aliasing1 = original      #aliasing
aliasing2 = original[:]
print(original)
print(aliasing1)
print(aliasing2)
print(new)
aliasing1.append(21)
aliasing2.append(32)
original.append(99)
print(original)
print(aliasing1)
print(aliasing2)
print(new)

[2, 4, 6, 8]
[2, 4, 6, 8]
[2, 4, 6, 8]
[2, 4, 6, 8]
[2, 4, 6, 8, 21, 99]
[2, 4, 6, 8, 21, 99]
[2, 4, 6, 8, 32]
[2, 4, 6, 8]

# **range**
range(start , step , end+1)
default start = 0

In [58]:
a , b = range(2)

print(a,b)

0 1

*rest
لما تكون مش عارف كميه الحاجة اللي جايه ارمي استار وكلمه وحط فيها

In [61]:
a , b ,*rest = range(345)
print(a,b)
print(rest)

0 1
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344]

In [66]:
num1,num2,num3 ,*restofNumbers = input("Enter any number of numbers : ").split(",")
print(num1)
print(num2)
print(num3)
print(restofNumbers)

Enter any number of numbers : 1,2,3,4,5,6,7
1
2
3
['4', '5', '6', '7']

# **TUPLE**

شبه ال list ولكن  مبعرفش اعدل عليه بمجرد انها اتعملت

In [77]:
tup = (1,2,3)
tup

(1, 2, 3)

In [84]:
tup = tuple(range(10))
tup

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [85]:
tup[2: 8]

(2, 3, 4, 5, 6, 7)

In [86]:
# tup[3]=6      #error مينعش اعدل زي ما قولنا
tup  +(77,)
tup

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [87]:
tup

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [88]:
tup.count(7)
tup.index(5)

5

In [90]:
tup1 =(1,2,3)
tup2 =(4,5,6)
tup3= tup1+tup2
tup3

(1, 2, 3, 4, 5, 6)

In [91]:
a,b,c = (1,2,3)
print(a)
print(b)
print(c)

1
2
3

# SWAPPING IN **PYTHON** **bold text**

In [94]:
a = 50
b = 80
a,b =(b,a )
print(a)    #80
print(b)     #50

80
50

# **Dictionary**

as map

In [95]:
dictionary ={
    "key1" : "value1",
    "key2" : ["omnia , 23 , engineering"]
}

In [114]:
print(dictionary)
print(dictionary.items())
print(dictionary.values())
print(dictionary.keys())
print(dictionary.get("key2"))
print(dictionary["key1"])
dictionary["key6"] = 345
print(dictionary)

{'key1': 'value1', 'key2': ['omnia , 23 , engineering']}
dict_items([('key1', 'value1'), ('key2', ['omnia , 23 , engineering'])])
dict_values(['value1', ['omnia , 23 , engineering']])
dict_keys(['key1', 'key2'])
['omnia , 23 , engineering']
value1
{'key1': 'value1', 'key2': ['omnia , 23 , engineering'], 'key6': 345}

LOOKUP
# KEY IN DICT **bold text**

In [115]:
students = {
    1 : "omnia",
    2: "sara",
    3: "mona"
}
print(1 in students)

True

In [116]:
del(students[1])
print(students)
students.pop(4 , None)   # من غير كلمه none كان هيحصل ايرور لانه مفيش كي =4

{2: 'sara', 3: 'mona'}

# ***SET***

unordered collection ot unique values

In [117]:
x= set()

In [118]:
x.add(10)

In [119]:
x

{10}

In [120]:
x.add(34)

In [122]:
x.add(12)

In [123]:
list1=[2,3,5,7,11]
list2=[1,3,5,7,9,11]
set1=set(list1)
set2=set(list2)

In [124]:
x= set1.intersection(set2)
x

{3, 5, 7, 11}

In [125]:
x = set1.difference(set2)
x

{2}

In [126]:
x= set1.union(set2)
x

{1, 2, 3, 5, 7, 9, 11}